<%- include('../partials/header.ejs') %>

<main>
<form action="/recipes" method="POST">
	<div>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required/>
	</div>
	<div>
		<label for="category">Category</label>
		<select name="category" required>
			<option value="Breakfast" selected>Breakfast</option>
			<option value="Lunch">Lunch</option>
			<option value="Dinner">Dinner</option>
		</select>
	</div>
    <div>
		<label for="description">Description</label>
		<input type="text" name="description" id="description" />
	</div>
	<div>
		<label for="instructions">Enter instructions, separated by commas</label>
		<textarea type="textarea" name="instructions" id="instructions" required></textarea>
	</div>
	<div>
		<label for="ingredients">Enter ingredients, separated by commas</label>
		<textarea name="ingredients" id="ingredients" required></textarea>
	</div>
    <button type="submit">Add Recipe</button>
</form>
</main>
<%- include('../partials/footer.ejs') %>
